body {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(248, 248, 248);
}

a {
    text-decoration: none;
    color: #000;
}

button {
    font-family: 'Raleway', sans-serif !important;
}


/* Header */

header {
    font-family: 'Raleway', sans-serif;
}

.top-header {
    min-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 0.9em;
    background: rgb(240,212,7);
    background: linear-gradient(150deg, rgba(223, 199, 13, 0.733) 0%, rgb(231, 231, 231) 100%);
}

.logo {
    font-size: 2.5em;
    font-weight: 600;
}

.search {
    width: 100%;
    height: 50px;
}

.search button {
    width: 40%;
}

.navv {
    min-height: 100px;
}

.form-select {
    height: 50px;
}

/* Content */

.carousel {
    max-height: 500px;
    overflow: hidden;
}

.sidebar {
    font-family: 'Raleway', sans-serif;
}

small {
    text-decoration-line: line-through;
}

.card-image {
    height: 19rem;
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
}

.product {
    border-radius: 10px;
    height: 30;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
}

.neon:hover {
    box-shadow: 0 8px 16px 0 rgba(237, 207, 16, 0.2);
}

.product-info {
    flex-wrap: wrap;
    justify-content: space-between
}

.img {
    width: 100%;
    height: 19rem;
    object-fit: cover;
    border-radius: 10px;
}

.product-image {
    object-fit: cover;
    width: 20rem;
    height: 18rem;
    border-radius: 10px;
}

.price {
    font-size: 1.1rem;
    font-weight: 300;
    color: #000;
}

footer {
    font-family: 'Raleway', sans-serif;
    background: rgb(119, 119, 119);;
}

.border {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.h-500 {
    height: 500px;;
}

.item {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-product img {
    width: 100%; 
    height: 500px; 
    object-fit: contain; 
    object-position: center;
}

.product-sidebar button {
    font-weight: 400;
    font-size: 1.1rem;
    padding: 10px;
}

.seller {
    font-family: 'Raleway', sans-serif !important;
    border-radius: 10px;
    border: 1px solid #ffc107;
}

.head-price {
    color: #ffc107;
}

.desc {
    background-color: #fff;
}

.similar {
    height: 17rem;
}
